.note-show-container {
  background-color: #ffffff;
  position: absolute;
  top: 0px;
  min-height: 100%;
  left: 345px;
  width: calc(100vw - 600px);
  cursor: default;
  transition: left 0.2s ease-out;
}
.note-show-header {
  height: 54px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ededed;
  margin: 0 20px;
}
.header-item-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #a6a6a6;
}
.fa-arrows-alt-h {
  font-weight: 600;
  font-size: 12px;
  transform: rotate(45deg) scale(1.9,1);
  cursor: pointer;
}
.header-item-container .fa-ellipsis-h {
  align-items: center;
}
.convenience-clickbox {
  position: absolute;
  right: 11px;
  top: 12px;
  padding: 15px;
  cursor: pointer;
}
.convenience-clickbox:focus {
  outline: none;
  border: none;
}
.note-show-buffer {
  padding: 20px 0;
}
.text-box-container {

}
.text-box-container input {
  display: block;
  width: 100%;
  padding: 8px 4px 0px 40px;
  font-size: 34px;
  font-weight: 300;
  border: none;
  width: calc(100vw - 645px);
}
.text-box-container input:focus {
  border: none;
  outline: none;
}
.text-box-container input::placeholder {

}
.text-box-container textarea {
  font-size: 14px;
  padding: 12px 40px 16px;
  width: calc(100vw - 683px);
  border: none;
}
.text-box-container textarea:focus {
  border: none;
  outline: none;
}
.note-show-menu {
  padding: 0 50px;
  background: #ffffff;
  box-shadow: 0 0 0 1px rgba(99, 114, 130, .16), 0 4px 12px rgba(27, 39, 51, .08);
  position: absolute;
  border: none;
  right: 0px;
  top: 22px;
  width: 81px;
}
.note-show-expand {
  left: -241px;
  width: calc(100vw - 248px);
}
.tag-footer-container {
  position: fixed;
  bottom:0%;
  width:100%;
}
.tag-footer {
  display: flex;
  align-items: center;
  height: 50px;
  border-top: 1px solid #ececec;
  padding-left: 20px;
}
.tag-footer > * {
  margin-right: 10px;
}
.tag-footer .fa-tag {
  transform: rotate(45deg);
  font-size: 19px;
  margin-top: 4px;
}
.note-tag-item {
  max-width: 310px;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: 300;
  color: #666;
  line-height: 1.67;
  border-color: rgb(216, 216, 216);
  border-radius: .8em;
  padding: 3px 7px 3px 12px;
  text-align: center;
  background: #f0f1f1;
}
.note-tag-arrow {
  width: 18px;
  vertical-align: middle;
  cursor: pointer;
}
.tag-footer input {
  display: inline-block;
  background: transparent;
  border: none;
  color: #777777;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 2px;
  outline: none;
  padding: 8px 2px;
  min-width: 150px;
}
