.all-notebooks {
  margin-left: 270px;
  width: calc(100vw - 298px);
  padding-right: 30px;
}
.notebooks-toolbar {
  display: flex;
  margin-bottom: 10px;
  font-size: 15.5px;
  color: #333333;
  justify-content: space-between;
  letter-spacing: 0.3px;
}
.all-notebooks-title {
  display: block;
  padding: 26px 0 28px 1px;
  font-size: 19.5px;
  color: #333333;
  font-weight: 400;
}
.add-notebook {
  color: #00a82d;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
}
.add-notebook:hover {
  opacity: 0.8;
}
.notebooks-column-header {
  display: flex;
  justify-content: space-between;
  background: #f8f8f8;
  font-size: 11.5px;
  color: #b3b3b3;
  border-top: 2px solid black;
  border-bottom: 1px solid #ededed;
  padding: 8.5px 10px;
}
.header-stats {
  display: flex;
}
.header-stats div {
  margin-left: 145px;
}
.notebooks-index-item {
  color: #313131;
}
.notebooks-index-row {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 9.5px 0 9.5px 20px;
  cursor: grab;
}
.notebooks-index-row:hover {
  background-color: #f5f5f5;
}
.note-count {
  cursor: pointer;
  margin: 0 5px;
  color: #b3b3b3;
  font-weight: 300;
}
.notebook-specs {
  display: flex;
  color: #777777;
}
.notebook-specs div {
  margin-left: 180px;
}
#middlest-spec {
  margin-left: 141px;
}
.even-nb {
  background-color: #f8f8f8;
}
.notebooks-index-row i {
  color: #777777;
  cursor: pointer;
  margin-right: 10px;
}
.fa-ellipsis-h {
  font-size: 12px;
}
.notebook-title {
  display: flex;
}
.carrot-container {
  width: 20px;
}
.notebooks-index-row .fa-caret-right,
.notebooks-index-row .fa-caret-down, {
  font-size: 17px;
}
.notebooks-index-row .fa-book {
  color: #313131;
  font-size: 14px;
}
.notebook-show-link {
  color: #313131;
  font-size: 14px;
}
.notebook-show-link:hover {
  text-decoration: underline;
}
.notebook-show-link:visited {
  color: #313131;
}
