.all-notebooks form {
  position: absolute;
  z-index: 5;
  background: white;
  top: 100%;
  left: 40%;
  min-width: 500px;
  width: 39%;
  max-width: 700px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .08), 0 2px 15px rgba(0, 0, 0, .2);
  border-radius: 4px;
}
.notebook-form-main {
  padding: 20px 25px 25px 25px;
}
.header-container {
  display: flex;
  color: #555555;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 18px;
}
.notebook-form-main div {
  font-weight: 500;
  line-height: 1.5;
}
.notebook-form-main i {
  color: #777777;
}
.notebook-form-main i:hover {
  color: black;
}
.notebook-form-main p {

}
.notebook-form-main label {
  display: block;
}
.notebook-form-main input {

}
.notebook-form-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 25px;
  line-height: 1.5;
}
.notebook-form-buttons div {
  margin: 0 10px 0 0;
  border-radius: 4px;
  line-height: 1;
  font-weight: 400;
  font-size: 14px;
  background-color: transparent;
  color: #b3b3b3;
  border: 1px solid #ededed;
  padding: 10px 15px;
}
.notebook-form-buttons button {
  padding: 10px 15px;
  box-sizing: border-box;
  color: #ffffff;
  border: none;
  background-color: #00a82d;
  font-size: 14px;
}
.notebook-form-buttons button[disabled] {
  cursor: default;
  background-color: #dcdfe3;
}

/* Modal Biz below */
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
}
