.search-input {
  padding: 14px 13px 0px 13px;
}

.search-index {
  display: absolute;
}

.search-input input {
    position: relative;
    background: #333333;
    outline: none;
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 100%;
    line-height: 30px;
    font-size: 14px;
    box-sizing: border-box;
    color: #ffffff;
    padding-left: 12px;
}

.search-input input::placeholder {
  color: #9d9d9d;
}
.search-input > input:-webkit-search-cancel-button {
  background: pink;
}

.searchbar-note {
  padding: 10px;
  background: white;
  color: black;
  margin: 0 9px;
}

.searchbar-note:hover {
  background: #ffffffe8;
}

.searchbar-note-title {
  color: grey;
}
.menu-container .fa-search {
  position: absolute;
  padding: 6px;
  background: #333333;
  top: 71px;
  left: 204px;
  font-size: 15px;
  opacity: 1;
  color: #666;
}
.menu-container .mag-lit {
  color: #00a82d;
}