/* body {
  background-color: green;
} */
nav {
  font-family: 'Roboto', sans-serif;
}
.navbar-container {
  z-index: 2;
  background: #FFF;
  position: fixed;
  width: 100%;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 42.5px 0;
  width: 87%;
  margin: auto;
}

.session-links {
  display: flex;
  align-items: center;
}

.session-links li {
  margin-right: 10px;
  font-weight: 300;
}
.session-links a:hover {
  color: #00c034;
}
.or {
  font-size: 14px;
}
.login {
  border: 2px solid #00a82d;
  border-radius: 3px;
  font-size: 13px;
  line-height: 37px;
  padding: 0px 39.5px;
}
.login li {
  margin-right: 0px;
}
.login:hover {
  border-color: #00c034;
}
.nav-logo {
  height: 38px;
  width: 38px;
  margin-right: 5px;
}
h1 {
  font-family: 'Merriweather', serif;
  font-size: 1.9em;
  font-weight: 900;
  display: flex;
  color: black;
}
.subhead {
  color: #0000003d;
}
.main-call-to-action-container {
  position: relative;
  top: 124px;
  padding: 168px 0;
  margin: auto;
  height: 477px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%2308e543' fill-opacity='0.14'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #16a20d;
}

.main-call-to-action {
  margin: auto;
  margin-top: 36px;
  width: 93%;
  display: flex;
  justify-content: center;
  height: inherit;
}

.main-call-to-action .row {
  display: flex;
}

.main-call-to-action .row div {
  margin-right: 85px;
}

.main-call-to-action img {
  width: 607px;
  height: 362px;
  margin-right: 55px;
}
.copy {
  color: #fff;
  margin-left: 57px;
}
.copy h2 {
  font-size: 56px;
  line-height: 72px;
  margin-bottom: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.copy p {
  font-size: 23px;
  line-height: 40px;
  margin-bottom: 35px;
  width: 600px;
  font-weight: 300;
  letter-spacing: 1.5px;
  max-width: 540px;
}
.call-to-action-button {
  color: #00a82d;
  background-color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 19.5px 52px;
  border-radius: 5px;
}
.call-to-action-button:hover {
  background-color: #efeded;
}
footer {
  position: absolute;
  bottom: -32px;
  background: white;
  width: 100%;
  padding: 4px;
  text-align: center;
}
footer a {
  color: #00a82d;
  font-weight: 400;
}
