.menu-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 241px;
  line-height: 1.5;
  background: #1a1a1a;
  color: #ccc;
  height: 100%;
  z-index: 3;
}
.username-container {
  width: 221px;
  margin-left: 18px;
  height: 55px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.initial-container {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFEB3B;
  border-radius: 50%;
}
.initial {
  font-family: 'Jacques Francois Shadow', cursive;
  color: red;
  display: block;
  text-align: center;
  vertical-align: middle;
  font-size: 23px;
  transform: scale(1.2,1);
}
.username-container img {
  width: 13px;
  height: 14px;
  position: relative;
  top: 2.1px;
}
.user {
  margin: 0 6px 0 15px;
  font-size: 13px;
  text-align: left;
  color: #ccc;
  line-height: 19px;
  text-overflow: ellipsis;
  font-weight: 300;
  cursor: pointer;
}
.user:hover {
  color: #ffffff;
}
.dropdown {
  box-sizing: border-box;
  background: #ffffff;
  position: absolute;
  left: 19px;
  top: 55px;
  border-radius: 3px;
  padding: 12px 0px 12px 0px;
  color: grey;
  z-index: 5;
  font-size: 14px;
  width: 267px;
  box-shadow: 0 0 0 1px rgba(99, 114, 130, .16);
}
.dropdown-account {
  font-size: 13.5px;
  color: #b3b3b3;
  font-weight: 300;
  padding: 3px 20px;
}
.dropdown li {
  padding: 3px 20px;
}
.dropdown li:hover {
  color: #555555;
  background-color: #f5f5f5;
}
.initial-drop {
  font-family: 'Jacques Francois Shadow', cursive;
  border-radius: 50%;
  padding: 1px;
  color: blue;
  background: #84b444;
  transform: scale(1.503, 1);
  font-size: 19px;
  margin-left: 4px;
}
.user-drop {
  margin-left: 10px;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
}
.user-row {
  display: flex;
  align-items: center;
  padding: 3px 20px 9px 20px;
}
.rule {
  content: '';
  display: block;
  border-top: 1px solid #ededed;
}
ul .rule:hover {
  background: #ffffff;
}
.create-note {
  display: flex;
  align-items: center;
  margin: 0 17px;
  margin-top: 65px;
  color: white;
  font-size: 14px;
}
.create-note svg {
  margin-right: 8px;
}
.create-note span {
  margin-top: 2px;
  letter-spacing: .3px;
}
.create-plus-container {
  padding: 0px 9px;
  border-radius: 50%;
  background: #08a908;
  margin-right: 13px;
}
.create-plus {
  font-size: 18px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  display: flex;
  font-weight: 300;
  transform: scale(1.5, 1.5);
}
.menu-container a {
  color: #ccc;
  padding: 5px 10px 5px 21px;
  font-size: 14px;
}
.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 20px;
}
.nav-links a:hover {
  background-color: #404040;
  color: #e6e6e6;
}
